.discover_height {
    line-height: 83px;
}

.where_box {
    box-shadow: 0px 28px 56px -6px rgba(246, 111, 77, 0.05);
    border-radius: 38px;
}

.line_1 {
    width: 47px;
    height: 0px;
    border: 1px solid #EAEAEB;
    transform: rotate(90deg);
    margin-left: 10px;
    margin-right: 10px;
}

.search {
    width: 54px;
    height: 54px;
    background: #F66F4D;
    border-radius: 31px;
    border: 1.5px solid #F66F4D;
}

.search:hover span svg path {
    stroke: #F66F4D !important;
}

.pointer {
    cursor: pointer;
}

.search:hover {
    background: #FDFEFF;
}

.mx_490 {
    max-width: 490px;
}

.backToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}

.effect {
    transition: all 1s linear;
}

.arrow_up {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

button {
    border: none !important;
}

.our_height {
    line-height: 60px;
}

.radius_14 {
    border-radius: 14px;
}

.d_templete {
    grid-gap: 20px;
    grid-template-columns: auto;
}

.img_1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

.image_2 {
    grid-row: 1/3;
    grid-column: 2/3;
    object-fit: cover;
}

.img_3 {
    grid-row: 2/3;
    grid-column: 1/2;
}

.img_4 {
    grid-row: 1/2;
    grid-column: 3/5;
}

.img_5 {
    grid-row: 2/3;
    grid-column: 4/5;
}

.img_6 {
    grid-row: 2/3;
    grid-column: 3/4;
}

.bnt_3 {
    top: 25px;
    border-radius: 12px;
    padding: 2px 10px;
    background-color: #fff;
    left: 25px;
}

.Vientam {
    bottom: 20px;
    left: 25px;
}

.bg_black_hover:hover {
    background-color: #000;
    color: #fff !important;
}

.show_hover:hover .show {
    opacity: 1 !important;
}

.bnt_3:hover {
    background-color: #000;
    color: #FDFEFF !important;
}

.London_btn:hover {
    background-color: #000;
    color: #FDFEFF !important;
}

.London_btn {
    border: 1px solid #2D3134;
    border-radius: 46px;
    padding: 8px 24px;
}

.Singapore_btn:hover {
    background-color: #000;
    color: #FDFEFF !important;
}

.Singapore_btn {
    border: 1px solid #2D3134;
    border-radius: 46px;
    padding: 8px 24px;
}

.Italy_btn:hover {
    background-color: #000;
    color: #FDFEFF !important;
}

.Italy_btn {
    border: 1px solid #2D3134;
    border-radius: 46px;
    padding: 8px 24px;
}

@media (max-width:1200px) {
    .discover_height {
        line-height: 63px;
    }

    .our_height {
        line-height: 50px;
    }
}

@media (max-width:992px) {
    .discover_height {
        line-height: 63px;
    }

    .container_slider_lg {
        max-width: 720px !important;
        padding-left: 12px;
        padding-right: 12px;
        margin-left: auto;
        margin-right: auto;
    }

    .box_height {
        height: 200px;
    }

    .img_4 {
        grid-row: 3/4;
        grid-column: 1/3;
    }

    .img_6 {
        grid-row: 4/5;
        grid-column: 1/2;
    }

    .img_5 {
        grid-row: 4/5;
        grid-column: 2/3;
    }
}

@media (min-width:992px) {
    .min-vh-lg-50 {
        min-height: 50vh;
    }
}

@media (max-width:768px) {
    .box_height {
        height: 150px;
    }
}

@media (max-width:576px) {
    .discover_height {
        line-height: 43px;
    }

    .box_height {
        height: 160px;
    }
}

@media (max-width:400px) {
    .col-12-400 {
        width: 100% !important;
    }

    .pt-4-400 {
        padding-top: 1.5rem !important;
    }

    .p-4-400 {
        padding: 1.5rem !important;
    }

    .t-center-400 {
        text-align: center !important;
    }

    .d_templete {
        grid-gap: 10px;
        grid-template-columns: auto;
    }
}

